*{
    padding: 0;
    margin: 0;
}
body{
    margin: 3% 40%;
}
h2{
    text-align: center;
    padding-bottom: 30px;
    color: blue;
    text-transform: uppercase;
}
ul li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 0.1px solid rgba(0, 0, 255, 0.24);
    display: flex;
    justify-content: space-between;
}
li span:first-child{
    color: blue;
    font-weight: 500;
}
.input{
    display: flex;
    height: 35px;
    margin: 10px 0;
    border-bottom: 0.1px solid rgba(0, 0, 255, 0.24);
}
.input input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    padding-right: 10px;
}
.input input:focus-visible{
    outline: transparent;
}
.input select:focus-visible{
    outline: transparent;
}
.input select{
    height: 100%;
    font-size: 14px;
    border: none;
    background-color: blue;
    color: white;
    padding: 5px;
    font-weight: 600;
}